build/

.vscode/
.cache/

.DS_Store

*.exe
*.obj
*.pdb

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python bindings / packaging
__pycache__/
*.pyd
*.so
*.egg-info/
_skbuild/
dist/
.pytest_cache/